#wb_header { background: transparent none repeat scroll left top; height: 130px; }
#wb_header { height: 130px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 667px; padding: 0 0 50px 0; }
#wb_main { height: 667px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 70px; }
#wb_footer { height: 70px; }
body { background: #ffffff url("../gallery/e407500ab2f230dc50342654a195272c.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery/2961555bb16ea7addb238f19c40f5713.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 1707px; }
.root { width: 992px; height: 1707px; overflow: visible; }
#wb_element_instance30 { left: 470px; top: 40px; min-width: 500px; width: 500px; min-height: 60px; height: 60px; display: block; z-index: 77; }
#wb_element_instance30 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance30, #wb_element_instance30 ul { text-align: right; }
#wb_element_instance30 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance30 li { margin: 10px 10px 10px 20px; }
#wb_element_instance30 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance30 li:hover > a, #wb_element_instance30 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: underline; color: #fcc500; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance30 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #fcc500; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance31 { left: 80px; top: 54px; min-width: 390px; width: 390px; min-height: 30px; height: 30px; display: block; z-index: 75; }
#wb_element_instance32 { left: 0px; top: 40px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; z-index: 76; }
#wb_element_instance32 img { width: 70px; height: 60px; }
#wb_element_instance33 { left: 944px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 74; }
#wb_element_instance33 img { width: 32px; height: 32px; }
#wb_element_instance34 { left: 2px; top: 30px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 75; }
#wb_element_instance35 { left: 894px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 76; }
#wb_element_instance35 img { width: 32px; height: 32px; }
#wb_element_instance36 { left: 712px; top: 30px; min-width: 115px; width: 115px; min-height: 24px; height: 24px; display: block; z-index: 77; }
#wb_element_instance37 { left: 40px; top: 40px; min-width: 200px; width: 200px; min-height: 33px; height: 33px; display: block; z-index: 17; }
#wb_element_instance38 { left: 381px; top: 86px; min-width: 530px; width: 530px; min-height: 161px; height: 161px; display: block; z-index: 18; }
#wb_element_instance39 { left: 41px; top: 268px; min-width: 880px; width: 880px; min-height: 399px; height: 399px; display: block; z-index: 20; }
#wb_element_instance40 { left: 40px; top: 90px; min-width: 320px; width: 320px; min-height: 155px; height: 155px; display: block; z-index: 21; }
#wb_element_instance40 img { width: 320px; height: 155px; }
#wb_element_instance41 { left: 0px; top: 687px; display: block; z-index: 9000; }
#wb_element_instance42 { left: 0px; top: 75px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 130px; }
	#wb_main { height: 667px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 917px; }
	.root { width: 992px; height: 917px; overflow: visible; }
	#wb_element_instance30 { left: 470px; top: 40px; min-width: 500px; width: 500px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 { left: 80px; top: 54px; min-width: 390px; width: 390px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 { left: 0px; top: 40px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance32 img { width: 70px; height: 60px; }
	#wb_element_instance33 { left: 944px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance33 img { width: 32px; height: 32px; }
	#wb_element_instance34 { left: 2px; top: 30px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance35 { left: 894px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance35 img { width: 32px; height: 32px; }
	#wb_element_instance36 { left: 712px; top: 30px; min-width: 115px; width: 115px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 40px; top: 40px; min-width: 200px; width: 200px; min-height: 33px; height: 33px; display: block; }
	#wb_element_instance38 { left: 381px; top: 86px; min-width: 530px; width: 530px; min-height: 161px; height: 161px; display: block; }
	#wb_element_instance39 { left: 41px; top: 268px; min-width: 880px; width: 880px; min-height: 399px; height: 399px; display: block; }
	#wb_element_instance40 { left: 40px; top: 90px; min-width: 320px; width: 320px; min-height: 155px; height: 155px; display: block; }
	#wb_element_instance40 img { width: 320px; height: 155px; }
}

@media (min-width: 992px) {
	#wb_header { height: 130px; }
	#wb_main { height: 667px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 917px; }
	.root { width: 992px; height: 917px; overflow: visible; }
	#wb_element_instance30 { left: 470px; top: 40px; min-width: 500px; width: 500px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 { left: 80px; top: 54px; min-width: 390px; width: 390px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 { left: 0px; top: 40px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance32 img { width: 70px; height: 60px; }
	#wb_element_instance33 { left: 944px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance33 img { width: 32px; height: 32px; }
	#wb_element_instance34 { left: 2px; top: 30px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance35 { left: 894px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance35 img { width: 32px; height: 32px; }
	#wb_element_instance36 { left: 712px; top: 30px; min-width: 115px; width: 115px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 40px; top: 40px; min-width: 200px; width: 200px; min-height: 33px; height: 33px; display: block; }
	#wb_element_instance38 { left: 381px; top: 86px; min-width: 530px; width: 530px; min-height: 161px; height: 161px; display: block; }
	#wb_element_instance39 { left: 41px; top: 268px; min-width: 880px; width: 880px; min-height: 399px; height: 399px; display: block; }
	#wb_element_instance40 { left: 40px; top: 90px; min-width: 320px; width: 320px; min-height: 155px; height: 155px; display: block; }
	#wb_element_instance40 img { width: 320px; height: 155px; }
}

@media (min-width: 1200px) {
	#wb_header { height: 130px; }
	#wb_main { height: 667px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 917px; }
	.root { width: 992px; height: 917px; overflow: visible; }
	#wb_element_instance30 { left: 470px; top: 40px; min-width: 500px; width: 500px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 { left: 80px; top: 54px; min-width: 390px; width: 390px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 { left: 0px; top: 40px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance32 img { width: 70px; height: 60px; }
	#wb_element_instance33 { left: 944px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance33 img { width: 32px; height: 32px; }
	#wb_element_instance34 { left: 2px; top: 30px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance35 { left: 894px; top: 23px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance35 img { width: 32px; height: 32px; }
	#wb_element_instance36 { left: 712px; top: 30px; min-width: 115px; width: 115px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 40px; top: 40px; min-width: 200px; width: 200px; min-height: 33px; height: 33px; display: block; }
	#wb_element_instance38 { left: 381px; top: 86px; min-width: 530px; width: 530px; min-height: 161px; height: 161px; display: block; }
	#wb_element_instance39 { left: 41px; top: 268px; min-width: 880px; width: 880px; min-height: 399px; height: 399px; display: block; }
	#wb_element_instance40 { left: 40px; top: 90px; min-width: 320px; width: 320px; min-height: 155px; height: 155px; display: block; }
	#wb_element_instance40 img { width: 320px; height: 155px; }
}
